apiVersion: v2
appVersion: "5.7.0"
description: A Helm chart for the rule-engine
name: rule-engine
type: application
version: "5.7.0"
dependencies:
  - name: vault
    repository: "s3://charts-repository/syndicate/"
    version: "^1.0.0"
    condition: vault.enabled
  - name: minio
    repository: "s3://charts-repository/syndicate/"
    version: "^1.0.0"
    condition: minio.enabled
  - name: mongo
    repository: "s3://charts-repository/syndicate/"
    version: "^1.0.0"
    condition: mongo.enabled
  - name: redis
    repository: "s3://charts-repository/syndicate/"
    version: "^1.0.0"
    condition: redis.enabled
  - name: modular-service
    repository: "s3://charts-repository/syndicate/"
    version: "^3.2.0"
    condition: modular-service.enabled
  - name: modular-api
    repository: "s3://charts-repository/syndicate/"
    version: "4.2.0"
    condition: modular-api.enabled
