databaseName: syndicate_rule_engine
mongoUri:
innerCacheTTLSeconds: '300'
workers: 2
memoryLimit: 768Mi
memoryRequest: 128Mi

service:
  type: ClusterIP
  port: 8000
  nodePort: 32106

image:
  repository: public.ecr.aws/x4s4z8e1/syndicate/rule-engine
  tag: 5.16.0
  pullPolicy: Always

replicas: 1
strategy:
  type: Recreate
  maxUnavailable: 0
  maxSurge: 100%

mongoService: mongo
mongoPort: 27017
vaultService: vault
vaultPort: 8200
minioService: minio
minioPort: 9000
# for celery
redisService: redis
redisPort: 6380

vault:
  enabled: true
  fullnameOverride: vault
minio:
  enabled: true
  fullnameOverride: minio
  service:
    type: NodePort
mongo:
  enabled: true
  fullnameOverride: mongo
redis:
  enabled: true
  fullnameOverride: redis
modular-service:
  enabled: true
  fullnameOverride: modular-service
  databaseName: syndicate_rule_engine
  logLevel: ERROR
  modularSdk:
    databaseName: syndicate_rule_engine
    logLevel: ERROR
modular-api:
  enabled: true
  fullnameOverride: modular-api
  disableRateLimiter: "true"
  modularApiServerLogLevel: ERROR
  modularApiCliLogLevel: ERROR
  modularApiM3adminLogLevel: ERROR
  modularApiModularSdkLogLevel: ERROR
  image:
    tag: 4.3.16-rule-engine-5.11.0

patch:
  enabled: false
  backoffLimit: 10
  ttlSecondsAfterFinished: 3600
  image:
    repository: public.ecr.aws/x4s4z8e1/syndicate/patches
    tag: ''
    pullPolicy: Always

modularSdk:
  logLevel: ERROR

  serviceMode: docker
  dbBackend: ''
  secretsBackend: ''
  vaultService: vault
  vaultPort: 8200
  vaultSecretName: ""

  # for "mongo" dbBackend
  mongoUri:
  databaseName: syndicate_rule_engine

  # for "dynamo" dbBackend
  awsRegion:
  assumeRoleArn:


httpProxy: ''
httpsProxy: ''
noProxy: 'localhost,127.0.0.1,169.254.169.254,mongo,vault,minio,defectdojo'

logLevel: ERROR
executorLogLevel: ERROR
executorCCLogLevel: ERROR
executorLogsFilename:
allowSimultaneousJobsForOneTenant: false
dojoPayloadSizeLimitBytes:
metricsExpirationDays:
recommendationsBucket:

# minio presigned url configuration (any value is considered as true)
minioPresignedUrl: ''
minioPresignedUrlPublicIpv4: ''
minioPresignedUrlPrivateIpv4: 'y'

persistence:
  accessMode: ReadWriteOnce
  size: 256Mi
  storageClass: standard
  hostPath: /data/rule-engine


celery:
  logLevel: ERROR
  workerMemoryLimit: "1536Mi"
  workerMemoryRequest: "128Mi"
  beatMemoryLimit: "256Mi"
  beatMemoryRequest: "128Mi"
  enableCustomCcPlugins: ''
  schedule:
    timezone: UTC
    makeFindingsSnapshots: '0 */12 * * *'
    syncLicense: '14400'
    collectMetrics: '0 3,15 * * *'
    removeExpiredMetrics: '0 12 * * *'
    scanResources: ''  # disabled

