databaseName: custodian_as_a_service
modularDatabaseName: custodian_as_a_service
innerCacheTTLSeconds: '300'

service:
  type: ClusterIP
  port: 8000
  nodePort: 32106

image:
  repository: public.ecr.aws/x4s4z8e1/syndicate/rule-engine
  tag: 5.5.0
  pullPolicy: Always

replicas: 1
strategy:
  type: RollingUpdate
  maxUnavailable: 0
  maxSurge: 100%

mongoService: mongo
mongoPort: 27017
vaultService: vault
vaultPort: 8200
minioService: minio
minioPort: 9000

vault:
  enabled: true
  fullnameOverride: vault
minio:
  enabled: true
  fullnameOverride: minio
  service:
    type: NodePort
mongo:
  enabled: true
  fullnameOverride: mongo
modular-service:
  enabled: true
  fullnameOverride: modular-service
modular-api:
  enabled: true
  fullnameOverride: modular-api
  image:
    tag: 4.1.0-rule-engine
