**/*venv*
**/*.pyc
**/__pycache__
**/.tmp
**/*.md
**/.env

.pytest_cache
.coverage
htmlcov
.gitlab
.git
.cache
dist
build
**/*.egg-info
.idea
.vscode


*syndicate*
c7n
docs
deployment
patch_scripts
tests
obfuscation_manager
!**/README.md
!**/readme.md
