apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rule-engine.fullname" . }}-celeryworker
  labels:
    app.kubernetes.io/name: {{ include "rule-engine.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "rule-engine.chart" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "rule-engine.name" . }}-celeryworker
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "rule-engine.name" . }}-celeryworker
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        helm.sh/chart: {{ include "rule-engine.chart" . }}
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      volumes:
        - name: rule-engine-storage
          persistentVolumeClaim:
            claimName: {{ include "rule-engine.fullname" . }}
      initContainers: # TODO: how can we change permissions in some other way?
        - name: volume-permissions
          image: busybox:1.28
          imagePullPolicy: IfNotPresent
          command: [ "chown", "-R", "1001:1337", "/data" ]
          volumeMounts:
            - name: rule-engine-storage
              mountPath: /data
      containers:
        - name: rule-engine-celery-worker
          args: ["celeryworker"]
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
#          resources:
#            limits:
#              memory: "900Mi"
#            requests:
#              memory: "400Mi"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            runAsGroup: 1337
          volumeMounts:
            - name: rule-engine-storage
              mountPath: "/data"
          {{- include "rule-engine.envs" . | nindent 10 }}
      restartPolicy: Always