-r lambdas/layers/common_dependencies_layer/requirements.txt
bottle==0.12.25
python-dotenv==1.0.0
APScheduler==3.10.4
bcrypt==4.0.1
PyJWT==2.8.0
pycryptodome==3.19.0
et-xmlfile==1.1.0
openpyxl==3.0.10
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
gunicorn==20.1.0
XlsxWriter==3.0.3
hvac==1.2.1
psutil==5.8.0